# =========================
# JAVA / SPRING BOOT
# =========================
target/
*.class
*.log
*.jar
*.war
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# =========================
# NODE / REACT / VITE
# =========================
node_modules/
dist/
.vite/

# =========================
# ENV FILES
# =========================
.env

# =========================
# IDE FILES
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS FILES
# =========================
Thumbs.db
.DS_Store

# =========================
# DATABASE
# =========================
*.db

# =========================
# BUILD FILES
# =========================
build/